
<!--   <mat-toolbar class="mat-elevation-z6" color="primary">
    <div class="sposta-fig">
      <img src="../../assets/img/logoBandiGare.png" class="demo-avatar">
       <div class="bandigare-img">
      <img  src="../../assets/img/BandiGare.png" height="30">
       </div>
    </div>

    <div>
      <button mat-raised-button color="primary">Home</button>
      <button mat-raised-button color="primary">Ricerca</button>
      <button mat-raised-button color="primary">Ultime inserite</button>
      <button mat-raised-button color="primary">Gare in scadenza</button>
      <button mat-raised-button color="accent">Login</button>
    </div>






  </mat-toolbar> -->


<div style="height: 100vh;">

  <mat-toolbar color="primary">

    <div class="sposta-fig">
      <img src="../../assets/img/logoBandiGare.png" class="demo-avatar">
       <div class="bandigare-img">
      <img  src="../../assets/img/BandiGare.png" height="30">
       </div>
    </div>

    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true">

      <!-- The following menu items will be hidden on both SM and XS screen sizes -->

      <button mat-raised-button color="primary">Home</button>
      <button mat-raised-button color="primary">Ricerca</button>
      <button mat-raised-button color="primary">Ultime inserite</button>
      <button mat-raised-button color="primary">Gare in scadenza</button>
      <button mat-raised-button color="accent">Login</button>

    </div>

    <div fxShow="true" fxHide.gt-sm="true">

      <a href="#" (click)="sidenav.toggle()"><mat-icon class="white-icon">menu</mat-icon></a>

    </div>

  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav #sidenav fxLayout="column" position="end">

      <div fxLayout="column">

        <a (click)="sidenav.toggle()" mat-raised-button color="primary">Close</a>

      <button mat-raised-button color="primary" (click)="sidenav.toggle()">Home</button>
      <button mat-raised-button color="primary">Ricerca</button>
      <button mat-raised-button color="primary">Ultime inserite</button>
      <button mat-raised-button color="primary">Gare in scadenza</button>
      <button mat-raised-button color="accent">Login</button>

      </div>

    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>

      <mat-card *ngFor="let item of gare | async">
         {{ item | json }}
      </mat-card>



      <span class="done">
        <button mat-fab>
          <mat-icon>check circle</mat-icon>
        </button>
      </span>

  </mat-sidenav-content>

  </mat-sidenav-container>

</div>




