<div id="container"> 
	 <mat-card id="myChart">
	  	<span class="count_bottomplus">Gare totali</span>
	  	<div class="count">{{totali}}</div>
	  	<span class="count_bottomminus">{{nuoveGareLavoro+nuoveGareServizio+nuoveGareForniture}} Nuove Gare</span>
	  </mat-card>

	  <mat-card id="myChart">
	  	<span class="count_bottomplus">Gare lavori</span>
	  	<div class="count">{{ lavori }}</div>
	  	<span class="count_bottomminus">{{nuoveGareLavoro}} Nuove Gare</span>
	  </mat-card>

	  <mat-card id="myChart">
	  	<span class="count_bottomplus">Gare servizi</span>
	  	<div class="count">{{servizi}}</div>
		 <span class="count_bottomminus">{{nuoveGareServizio}} Nuove Gare</span>
	  </mat-card>

	  <mat-card id="myChart">
	  	<span class="count_bottomplus">Gare forniture</span>
	  	<div class="count">{{forniture}}</div>
	  	  	<span class="count_bottomminus">{{nuoveGareForniture}} Nuove Gare</span>
	  </mat-card>
   </div>
  <div class="sposta-titolo">
  <h1>Ultime Gare Inserite</h1>
  </div>

		<mat-card *ngFor="let gara of gareScroll | paginate: { itemsPerPage: 10, currentPage: p }">
	

			<div class="flex-container">
			  <div class="titolo-card" *ngIf="gara.ENTE"><h3>Ente: {{gara.ENTE}}</h3></div>

			  <div class="row-image-card">
			  	 <div *ngIf="gara.REGIONE">
			  	    <img class="image-card" src="../../../assets/image/REGIONI/{{gara.REGIONE}}.png">
			  	 </div>
			  	 <div class="info-card">
			  	       <div class="info-luoghi" *ngIf="gara.REGIONE">
			  	       		<div class="larg-tit">
			  	       			Regione:
			  	       		</div>
			  	       	    <div>
			  	       			{{gara.REGIONE | capit}}
			  	       		</div>
			  	       </div>

			  	       <div class="info-luoghi" *ngIf="gara.PROVINCIA">
			  	       		<div class="larg-tit">
			  	       			Provincia:
			  	       		</div>
			  	       	    <div>
			  	       			{{gara.PROVINCIA | provincie}}
			  	        </div>
			  	       </div>
			  	       <div class="info-luoghi" *ngIf="gara.CITTA">
			  	       		<div class="larg-tit">
			  	       			Comune:
			  	       		</div>
			  	       	    <div>
			  	       			{{gara.CITTA | capit }}
			  	           </div>
			  	       </div>
			  	 </div>
			  </div>


			  <div class="info-row">
			  		<div class="info-item" *ngIf="gara.TIPOLOGIA">
				  	  	<div class="larg-tit">
				  	       	Tipologia:
				  	    </div>
				  	    <div>
				            {{gara.TIPOLOGIA | capit}}
				  	    </div>
				  	</div>
				  	<div class="info-item" *ngIf="gara.PROCEDURA">
				  	  	<div class="larg-tit">
				  	       	Procedura:
				  	    </div>
				  	    <div>
				            {{gara.PROCEDURA | capit}}
				  	    </div>
				  	</div>


			  </div>

			  <div class="info-row">
			  	<div class="info-item" *ngIf = "gara.CATEGORIA_PREVALENTE != ''">
			  	  	<div class="larg-tit">
			  	       	Categoria:
			  	    </div>
			  	    <div>
			            {{gara.CATEGORIA_PREVALENTE | capit}}
			  	    </div>
			  	</div>


			    <div class="info-item" *ngIf = "gara.CATEGORIA_PREVALENTE == ''">
			  	  	<div class="larg-tit">
			  	       	CPV:
			  	    </div>
			  	    <div>
			            {{gara.CPV | capit}}
			  	    </div>
			  	</div>

			  </div>

			  <div class="oggetto-card" *ngIf="gara.OGGETTO">
			  	  	<div class="larg-tit">
			  	       	Oggetto:
			  	    </div>
			  	    <div>
	                   {{gara.OGGETTO | capit}}
			  	    </div>

			  </div>

			 <div class="info-row">
				  	<div class="info-item" *ngIf="gara.IMPORTO">
				  	  	<div class="larg-tit">
				  	       	Importo:
				  	    </div>
				  	    <div>
				            {{gara.IMPORTO | importo | currency:'EUR'}}
				  	    </div>
				  	</div>

				  	<div class="info-item" *ngIf="gara.DATA_SCADENZA">
				  	  	<div class="larg-tit">
				  	       	Scadenza:
				  	    </div>
				  	    <div>
				            {{gara.DATA_SCADENZA*1000 | date: 'dd/MM/yy' :'it'}}
				  	    </div>
				  	</div>
			  </div>


			 </div>


			 <div class="info-row">
				  	<div class="info-item" *ngIf="gara.mylink.length>0">
				  	  	<div class="larg-tit-ris">
				  	       	Risorse:
				  	    </div>
						<div class="downladLink">
					        <div *ngFor="let link of gara.mylink">
					             <a mat-button color="warn" target="_blank" href="{{link.valore}}">{{link.chiave}}</a>
					        </div>
				        </div>
				  	</div>
			  </div>
		</mat-card>

		<div class="paginazione">
			<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>	
		</div>




	 